nav {
  width: 100vw;
  height: 7rem;
  display: flex;
  place-items: center;
  background: rgb(199, 242, 255);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
  transition: var(--transition);
}
.nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem; /* Add padding to the container to create space */
}

.nav_logo {
  width: 5rem; /* Increase the width as needed */
  overflow: hidden;
  margin-bottom: 0.3rem; /* Adjust the margin-bottom as needed */
  margin-right: 13rem;
}
.nav_menu {
  display: flex;
  gap: 2.7rem; /* Decrease the gap as needed */
  list-style: none;
  margin: 10px;
}

.nav_menu a {
  text-decoration: none;
  color: #000080;
  gap: 1rem;
  font-size: 0.9rem;
}

#theme__icon {
  background: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* HIDE NAV MENU ON TABLETS AND PHONES */
@media screen and (max-width: 1024px) {
  .nav_menu {
    display: none;
  }
}
